body  {
  background-image: url("../images/back.jpg");
  height: 300px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
div{
  width: 100px;
  height: 100px;
  position: relative;
  animation: mymove 5s infinite;
  margin-top: 100px;
}
img{
  height: 100px;
  width: 100px;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 100%;}
}